# Server Configuration
PORT=3500
DB_PATH=./bd.sqlite
PING_MESSAGE="TAKYMED API is running"
ADMIN_PHONE=admin
ADMIN_PIN=admin
SERVER_IP=127.0.0.1
SERVER_USER=root
SERVER_PASS=your_password_here

# Client Configuration
VITE_PUBLIC_BUILDER_KEY=__BUILDER_PUBLIC_KEY__
